/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v18-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v18-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v18-cyrillic_latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-ms-clear {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #E6DFDB inset !important;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  font-weight: normal;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1152px;
  height: 500px;
  margin: 94px auto auto auto;
  border: 2px solid #FF6E20;
  border-bottom-right-radius: 64px;
  border-top-left-radius: 64px;
}
.main--second {
  border-color: #D77B00;
}
.main--second .tabs__item {
  border-color: #D77B00;
}
.main--second .tabs__item--active {
  border-color: #D77B00;
  border-bottom: 2px solid #fff;
}
.main--second .section-promo__item {
  visibility: hidden;
  opacity: 0;
}
.main--second .section-promo__item--second {
  background: #D77B00 url(/multiStepsForm/public/img/promo2.jpg) no-repeat;
  visibility: visible;
  opacity: 1;
}
.main--second .form__input {
  border: 2px solid #D77B00;
}
.main--second .form__input:focus {
  border-color: #D77B00;
}
.main--second .form__input:invalid {
  background-color: #EBBD80;
  border: 2px solid #EBBD80;
}
.main--second .form__input:hover {
  border: 2px solid #D77B00;
}
.main--second .btn {
  background-color: #D77B00;
}
.main--second .btn:hover {
  color: #D77B00;
}
.main--second .btn:active {
  background-color: #EBBD80;
}
.main--second .form__fieldset--first {
  -webkit-transform: translateX(-574px);
  transform: translateX(-574px);
}
.main--second .form__fieldset--first:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.main--third {
  border-color: #E93A29;
}
.main--third .tabs__item {
  border-color: #E93A29;
}
.main--third .tabs__item--active {
  border-color: #E93A29;
  border-bottom: 2px solid #fff;
}
.main--third .section-promo__item {
  visibility: hidden;
  opacity: 0;
}
.main--third .section-promo__item--second {
  visibility: hidden;
  opacity: 0;
}
.main--third .section-promo__item--third {
  background: #E93A29 url(/multiStepsForm/public/img/promo3.jpg) no-repeat;
  visibility: visible;
  opacity: 1;
}
.main--third .form__input {
  border: 2px solid #E93A29;
}
.main--third .form__input:focus {
  border-color: #E93A29;
}
.main--third .form__input:invalid {
  background-color: #F39B93;
  border: 2px solid #F39B93;
}
.main--third .form__input:hover {
  border: 2px solid #E93A29;
}
.main--third .btn {
  background-color: #E93A29;
}
.main--third .btn:hover {
  color: #E93A29;
}
.main--third .btn:active {
  background-color: #F39B93;
}
.main--third .form__fieldset--first {
  visibility: hidden;
}
.main--third .form__fieldset--second {
  -webkit-transform: translateX(-574px) translateY(-100%);
  transform: translateX(-574px) translateY(-100%);
}
.main--third .form__fieldset--second:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.logo {
  position: absolute;
  z-index: 1;
  left: -33px;
  top: -50px;
}
.title {
  margin: 96px 0 0;
  text-align: center;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  color: #fff;
}
.section-promo {
  position: relative;
  width: 50%;
}
.section-promo__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #FF6E20 url(/multiStepsForm/public/img/promo1.jpg) no-repeat;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.section-promo__item--second,
.section-promo__item--third {
  visibility: hidden;
  opacity: 0;
}
.section-form {
  position: relative;
  width: 50%;
}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -33px;
  left: 120px;
}
.tabs__item {
  width: 72px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #FF6E20;
}
.tabs__item + .tabs__item {
  margin-left: 32px;
}
.tabs__item--active {
  border: 2px solid #FF6E20;
  border-bottom: 2px solid #fff;
}
.form {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  background-color: #fff;
  height: 100%;
  width: 385px;
  margin: 0 auto 0 120px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form__fieldset--first:after {
  position: absolute;
  content: '';
  width: 200px;
  height: 400px;
  background: url(/multiStepsForm/public/img/kotik1.png) no-repeat center center;
  top: 0;
  right: 0;
  -webkit-transform: translateX(1148px);
  transform: translateX(1148px);
  background-size: contain;
  -webkit-transition: -webkit-transform 4s linear 0.5s;
  transition: -webkit-transform 4s linear 0.5s;
  transition: transform 4s linear 0.5s;
  transition: transform 4s linear 0.5s, -webkit-transform 4s linear 0.5s;
}
.form__fieldset--second {
  z-index: 2;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.form__fieldset--second:after {
  position: absolute;
  content: '';
  width: 200px;
  height: 400px;
  background: url(/multiStepsForm/public/img/kotik2.png) no-repeat center center;
  top: 200px;
  right: 0;
  -webkit-transform: translateX(1148px);
  transform: translateX(1148px);
  background-size: contain;
  -webkit-transition: -webkit-transform 4s linear 0.5s;
  transition: -webkit-transform 4s linear 0.5s;
  transition: transform 4s linear 0.5s;
  transition: transform 4s linear 0.5s, -webkit-transform 4s linear 0.5s;
}
.form__fieldset--third {
  z-index: 1;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}
.form__fieldset--hidden {
  -webkit-transform: translateX(-574px);
  transform: translateX(-574px);
}
.form__input-wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form__input-wrap + .form__input-wrap {
  margin-top: 32px;
}
.form__input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  color: #333333;
  background-color: #E6DFDB;
  border: 2px solid #FF6E20;
}
.form__input:focus {
  background-color: #E6DFDB;
  outline: none;
}
.form__input:invalid {
  background-color: #FFB78F;
  border: 2px solid #FFB78F;
}
.form__input:invalid + .form__label {
  position: absolute;
  left: 18px;
  top: 12px;
  color: #333;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: transparent;
}
.form__input:valid + .form__label {
  display: none;
}
.form__input:hover {
  border: 2px solid #FF6E20;
}
.form__input:hover + .form__label {
  font-size: 8px;
  top: 4px;
}
.form__input:focus + .form__label {
  display: none;
}
.form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent;
  opacity: 0;
}
.form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}
.form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent;
}
.form__input:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}
.form__radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.form__radio + .form__radio-label {
  position: relative;
  padding-left: 40px;
}
.form__radio + .form__radio-label:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #C4C4C4;
}
.form__radio:checked + .form__radio-label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFB78F;
}
.form__radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}
.form__radio-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  width: 50%;
}
.form__check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
}
.form__checkbox {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.form__checkbox + .form__checkbox-label {
  position: relative;
  padding-left: 40px;
}
.form__checkbox + .form__checkbox-label:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #C4C4C4;
}
.form__checkbox:checked + .form__checkbox-label:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url(/multiStepsForm/public/img/check.svg) no-repeat;
  background-position: center;
}
.form__text {
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
}
.form__text--small {
  font-size: 16px;
}
.btn {
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 384px;
  height: 56px;
  text-align: center;
  background-color: #FF6E20;
  border: 2px solid #FF6E20;
  color: #fff;
  line-height: 56px;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #fff;
  color: #FF6E20;
}
.btn:active {
  background-color: #FFB78F;
}
.btn--arrow {
  text-align: left;
  padding-left: 72px;
}
.btn--arrow:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 72px;
  right: 72px;
  top: 32px;
  background-color: #000;
}
.btn--arrow:after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #000;
  right: 73px;
  top: 30px;
  -webkit-transform: rotate(45deg) translateY(-1px);
  transform: rotate(45deg) translateY(-1px);
}
.button-text {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 8px;
}
.button-text:hover {
  text-decoration: underline;
}
.mt-24 {
  margin-top: 24px;
}
.mt-48 {
  margin-top: 48px;
}
.input-error {
  position: relative;
}
.input-error .form__input {
  background-color: #E6DFDB !important;
  border: 2px solid #EB5757 !important;
}
.input-error .form__radio-label,
.input-error .form__checkbox-label {
  color: #EB5757;
}
.input-error.form__radio-wrap .error-message,
.input-error.form__check-wrap .error-message {
  display: none;
}
.input-error .error-message {
  position: absolute;
  bottom: -16px;
  color: #EB5757;
  font-size: 12px;
  line-height: 1.3;
  width: 100%;
}
.input-error .error-message:after {
  position: absolute;
  content: '';
  right: -30px;
  top: -35px;
  width: 24px;
  height: 24px;
  background: url(/multiStepsForm/public/img/warning.svg) no-repeat;
}
.pickmeup {
  background: #000;
  border-radius: 0.4em;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.pickmeup * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pickmeup.pmu-flat {
  position: relative;
}
.pickmeup.pmu-hidden {
  display: none;
}
.pickmeup .pmu-instance {
  display: inline-block;
  height: 13.8em;
  padding: 0.5em;
  text-align: center;
  width: 15em;
}
.pickmeup .pmu-instance .pmu-button {
  color: #eee;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.pickmeup .pmu-instance .pmu-today {
  background: #17384d;
  color: #88c5eb;
}
.pickmeup .pmu-instance .pmu-button:hover {
  background: transparent;
  color: #88c5eb;
}
.pickmeup .pmu-instance .pmu-not-in-month {
  color: #666;
}
.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
  color: #333;
  cursor: default;
}
.pickmeup .pmu-instance .pmu-selected {
  background: #136a9f;
  color: #eee;
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background: #17384d;
}
.pickmeup .pmu-instance nav {
  color: #eee;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  line-height: 2em;
}
.pickmeup .pmu-instance nav *:first-child :hover {
  color: #88c5eb;
}
.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next {
  display: none;
  height: 2em;
  width: 1em;
}
.pickmeup .pmu-instance nav .pmu-month {
  width: 14em;
}
.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * {
  display: inline-block;
  line-height: 3.6em;
  width: 3.5em;
}
.pickmeup .pmu-instance .pmu-day-of-week {
  color: #999;
  cursor: default;
}
.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
  display: inline-block;
  line-height: 1.5em;
  width: 2em;
}
.pickmeup .pmu-instance .pmu-day-of-week * {
  line-height: 1.8em;
}
.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
  display: block;
}
.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
  width: 13em;
}
.pickmeup .pmu-instance:first-child:last-child .pmu-month {
  width: 12em;
}
.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years {
  display: none;
}
.pickmeup {
  z-index: 3;
  background: #fff;
  border: 2px solid #FE6E20;
}
.pickmeup .pmu-instance .pmu-button {
  color: #000;
}
.pickmeup .pmu-instance .pmu-not-in-month {
  color: #666;
}
.pickmeup .pmu-instance .pmu-button:hover {
  color: #FE6E20;
}
.pickmeup .pmu-instance .pmu-today {
  color: #fff;
}
.pickmeup .pmu-instance .pmu-selected {
  background: none;
  color: #FE6E20;
}
